<nav>
	<div class="nav-wrapper">
		<a class="brand-logo right" routerLink>Rotas</a>
		<ul id="nav-mobile" class="left hide-on-med-and-down">
			<li><a routerLinkActive="active" routerLink="/login">Login</a></li>
			<li><a routerLinkActive="active" routerLink="/courses" [queryParams]="{ page: 1 }">Cursos</a></li>
			<!-- <li><a routerLinkActive="active" [routerLink]="['/course', 1]">Curso com ID</a></li> -->
		</ul>
	</div>
</nav>

<div class="container">
	<!-- <p>Dígite o ID do curso</p>
	<input type="number" #inputCourseId> -->
	<router-outlet></router-outlet>
</div>

