<!-- <app-diretiva-ngif></app-diretiva-ngif> -->
<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->
<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->
<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->
<!-- <app-elvis-operator></app-elvis-operator> -->
<!--
<app-ngcontent-example>
	<div class="header"> Header </div>
	<div class="body"> body1 </div>
	<div class="body"> body2 </div>
	<div> teste (não pega) </div>
	<div class="footer"> footer </div>
</app-ngcontent-example> -->

<app-custom-directives></app-custom-directives>
